<%= link_to "Ajouter", new_list_path(@list)  %>
<% @lists.each do |list| %>
  <%= link_to list_path(list) do %>
    <div class="card-category">
      <p><%= list.name %></p>
      <%= link_to "Supprimer", list, method: :delete, data: { confirm: "Etes vous sur ?" }%>
    </div>
  <% end %>
<% end %>
