<%= link_to "Je créer une liste", new_list_path(@list), class: "btn btn-ghost-index"  %>
<% @lists.each do |list| %>
  <%= link_to list_path(list), class: "link-card-list" do %>
    <div class="card-category">
      <h3 class="card-title"><%= list.name %></h3>
      <div class="delete-list">
      <%= link_to "", list, method: :delete, data: { confirm: "En es-tu sûr ?" }, class: "fa-regular fa-trash-can list-can"%>
      </div>
    </div>
  <% end %>
<% end %>
