<%= link_to "Ajoute une liste", new_list_path(@list), class: "btn btn-ghost-index"  %>
<% @lists.each do |list| %>
  <%= link_to list_path(list), class: "link-card-list" do %>
    <div class="card-category">
      <p><%= list.name %></p>
      <%= link_to "Supprimer", list, method: :delete, data: { confirm: "Etes vous sur ?" }, class: "delete-card-list"%>
    </div>
  <% end %>
<% end %>
