.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("shoppy-card.jpg");
  flex-direction: column;
}

.delete-card-list {
  text-decoration: none;
}

.link-card-list {
  text-decoration: none;

}

.card-product {
  // margin-left: 20px;
  margin: 0 auto;
  // margin-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.137);
  width: 95vw;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.13);
}

.card-product.taken {
  background-color: rgba(94, 255, 0, 0.13)
}

.card-title {
  color: #fff;
}
