.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.drop-link:link {
  text-decoration: none;
}

.drop-link {
  color: rgba(0, 0, 0, 0.55);
}
